<div class="jumbotron">
  <div class="container">
    <h1><%= identifier %> <%= path %></h1>
    <p>URL Specific Data</p>
  </div>
</div>

<div class="container">
  <h2>URL Statistics</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Longest Reponse Time</th>
            <td><%= min_resp_time %></td>
          </tr>
          <tr>
            <th>Shortest Reponse Time</th>
            <td>fjfj</td>
          </tr>
          <tr>
            <th>Average Reponse Time</th>
            <td>fjfj</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>HTTP Verbs Used</th>
            <td>fjfj</td>
          </tr>
          <tr>
            <th>Most Popular Referrers</th>
            <td>fjfj</td>
          </tr>
          <tr>
            <th>Most Popular User Agents</th>
            <td>fjfj</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
